---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<ol reversed="">

<h2 id="publications"> 2026 </h2>

<li><a href="https://doi.org/10.1038/s41467-026-68557-3">
Mobility-driven synthetic contact matrices as a scalable solution for real-time pandemic response modeling</a><br>
<strong>L Di Domenico</strong>, P Bosetti, CE Sabbatini, L Opatowski, V Colizza <br>
<em>Nature Commun</em> 17, 1845 (2026)</li><br>
  
<li><a href="https://doi.org/10.1038/s43856-025-01282-y">
Individual and neighborhood based socioeconomic factors relevant for contact behaviour and epidemic control</a><br>
<strong>L Di Domenico</strong>, ML Reichmuth, CL Althaus <br>
<em>Commun Med</em> 6, 26 (2026)</li><br>

<li><a href="https://doi.org/10.1073/pnas.2533284123"> 
Resetting population mobility responses under repeated nonpharmaceutical interventions: Implications for hypothesized pandemic fatigue</a><br>
A Rikani, <strong>L Di Domenico</strong>, CE Sabbatini, V Navarro, L Ferres, J Raude, V Colizza <br>
<em>PNAS</em> 123, e2533284123 (2026)</li><br>

<h2 id="publications"> 2025 </h2>

<li><a href="https://doi.org/10.1016/j.idm.2024.09.002">
Planning and adjusting the COVID-19 booster vaccination campaign to reduce disease burden</a><br>
<strong>L Di Domenico</strong>, Y Goldberg, V Colizza<br>
<em>Infectious Disease Modelling</em> 10, 150–162 </li><br>

<li><a href="https://doi.org/10.1101/2025.11.12.25340087">
A forecasting tool of hospital demand during heat periods: a case study in Bern, Switzerland </a><br>
<strong>L Di Domenico</strong>, MS Wohlfender, WE Hautz, AM Vicedo-Cabrera, CL Althaus<br>
<em>Preprint on medrxiv </em> (2025) </li><br>

<li><a href="https://doi.org/10.2807/1560-7917.ES.2025.30.42.2500216">
Modelling practices, data provisioning, sharing and dissemination needs for pandemic decision-making: a European survey-based modellers’ perspective, 2020 to 2022 </a><br>
E van Kleef, W Van Bortel, E Arsevska, L Busani, S Dellicour, <strong>L Di Domenico</strong>, M Gilbert, [...], C Poletto <br>
<em>Eurosurveillance</em> 30, 2500216 (2025) </li><br>

<li><a href="https://doi.org/10.1136/bmjopen-2025-109555">
‘Bern, get ready’, BEready, a household-based cohort study for pandemic preparedness research in Switzerland: pilot study</a><br>
EM Hodel, S Wegmüller, F Iff, E Lim, K Grimm, L Gasser, <strong>L Di Domenico</strong>, S Schuller, G Wandeler, N Low <br>
<em>BMJ Open</em> 15, e109555 </li><br>

<h2 id="publications"> 2024 </h2>

<li><a href="https://doi.org/10.1186/s12879-023-08900-x">
The impact of spatial connectivity on NPIs effectiveness</a><br>
CE Sabbatini, G Pullano, <strong>L Di Domenico</strong>, S Rubrichi, S Bansal, V Colizza<br>
<em>BMC Infectious Diseases</em> 24, 21 (2024)</li><br>

<li><a href="https://doi.org/10.1038/s41598-024-55477-9">
SARS-CoV-2 infection prevalence and associated factors among primary healthcare workers in France after the third COVID-19 wave</a><br>
M Pouquet, D Decarreaux, <strong>L Di Domenico</strong>, CE Sabbatini, [...], A Falchi<br>
<em>Sci Rep</em> 14, 5418 (2024)</li><br>

<li><a href="https://doi.org/10.1103/PhysRevResearch.6.023265">
Limited data on infectious disease distribution exposes ambiguity in epidemic modeling choices</a><br>
<strong>L Di Domenico</strong>, E Valdano, V Colizza<br>
<em>Phys. Rev. Res.</em> 6, 023265 (2024)</li><br>

<h2 id="publications"> 2021 </h2>

<li><a href="https://doi.org/10.1038/s43856-021-00057-5">
Adherence and sustainability of interventions informing optimal control against the COVID-19 pandemic</a><br>
<strong>L Di Domenico</strong>, CE Sabbatini, PY Boëlle, C Poletto, [...], V Colizza<br>
<em>Commun Med</em> 1, 1–13 (2021)</li><br>

<li><a href="https://doi.org/10.2807/1560-7917.ES.2021.26.15.2100272">
Impact of January 2021 curfew measures on SARS-CoV-2 B.1.1.7 circulation in France</a><br>
<strong>L Di Domenico</strong>, G Pullano, CE Sabbatini, P-Y Boëlle, V Colizza <br>
<em>Eurosurveillance</em> 26, 2100272 (2021)</li><br>

<li><a href="https://doi.org/10.1038/s41586-020-03095-6">
Underdetection of cases of COVID-19 in France threatens epidemic control</a><br>
G Pullano, <strong>L Di Domenico</strong>, CE Sabbatini, E Valdano, [...], V Colizza<br>
<em>Nature</em> 590, 134–139 (2021)</li><br>

<li><a href="https://doi.org/10.1038/s41467-021-21249-6">
Modelling safe protocols for reopening schools during the COVID-19 pandemic in France</a><br>
<strong>L Di Domenico</strong>, G Pullano, CE Sabbatini, P-Y Boëlle, V Colizza <br>
<em>Nat Commun</em> 12, 1073 (2021)</li><br>

<h2 id="publications"> 2020 </h2>

<li><a href="https://doi.org/10.1186/s12916-020-01698-4">
Impact of lockdown on COVID-19 epidemic in Île-de-France and possible exit strategies</a><br>
<strong>L Di Domenico</strong>, G Pullano, CE Sabbatini, P-Y Boëlle, V Colizza <br>
<em>BMC Medicine</em> 18, 240 (2020)</li><br>

<li><a href="https://doi.org/10.1371/journal.pmed.1003193">
Tracing and analysis of 288 early SARS-CoV-2 infections outside China: A modeling study</a><br>
F Pinotti, <strong>L Di Domenico</strong>, E Ortega, M Mancastroppa, G Pullano, E Valdano, PY Boëlle, C Poletto, V Colizza <br>
<em>PLOS Medicine</em> 17, e1003193 (2020)</li><br>

</ol>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find the complete list of publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



