---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2 id="publications"> Latest publications (2026) </h2>
<ol reversed="">

<li><a href="https://doi.org/10.1038/s41467-026-68557-3">
Mobility-driven synthetic contact matrices as a scalable solution for real-time pandemic response modeling.</a><br>
<strong>Di Domenico L</strong>, Bosetti P, Sabbatini CE, Opatowski L & Colizza V.<br>
<strong>Nature Commun</strong>(2026)</li><br>
  
<li><a href="https://doi.org/10.1038/s43856-025-01282-y">
Individual and neighborhood based socioeconomic factors relevant for contact behaviour and epidemic control.</a><br>
<strong>Di Domenico L</strong>, Reichmuth ML, Althaus CL.<br>
<strong>Commun Med</strong> 6, 26 (2026)</li><br>
</ol>

<h2 id="publications"> Previous publications </h2>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find the complete list of publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



