---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2 id="publications"> 2026 </h2>
<ol reversed="">

<li><a href="https://doi.org/10.1038/s41467-026-68557-3">
Mobility-driven synthetic contact matrices as a scalable solution for real-time pandemic response modeling</a><br>
<strong>L Di Domenico</strong>, P Bosetti, CE Sabbatini, L Opatowski, V Colizza <br>
<em>Nature Commun</em> 17, 1845 (2026)</li><br>
  
<li><a href="https://doi.org/10.1038/s43856-025-01282-y">
Individual and neighborhood based socioeconomic factors relevant for contact behaviour and epidemic control</a><br>
<strong>L Di Domenico L</strong>, ML Reichmuth, CL Althaus <br>
<em>Commun Med</em> 6, 26 (2026)</li><br>
</ol>

<li><a href="https://doi.org/10.1073/pnas.2533284123"> 
Resetting population mobility responses under repeated nonpharmaceutical interventions: Implications for hypothesized pandemic fatigue</a><br>
A Rikani, </strong>L Di Domenico</strong>, CE Sabbatini, V Navarro, L Ferres, J Raude, V Colizza <br>
<em>PNAS</em> 123, e2533284123 (2026)</li><br>

<li><a href="https://doi.org/">
</a><br>
<br>
<em> </em> </li><br>

<h2 id="publications"> 2025 </h2>

<li><a href="https://doi.org/10.2807/1560-7917.ES.2025.30.42.2500216">
Modelling practices, data provisioning, sharing and dissemination needs for pandemic decision-making: a European survey-based modellers’ perspective, 2020 to 2022. </a><br>
E van Kleef, W Van Bortel, E Arsevska, L Busani, S Dellicour, </strong>L Di Domenico</strong>, M Gilbert, SL van Elsland, MUG Kraemer, S Lai, P Lemey, S Merler, Z Milosavljevic, A Rizzoli, D Simic, AJ Tatem, M Teisseire, W Wint, V Colizza, C Poletto <br>
<em>Eurosurveillance</em>30, 2500216 (2025) </li><br>

<h2 id="publications"> 2024 </h2>

<h2 id="publications"> 2022 </h2>

<h2 id="publications"> 2021 </h2>

<h2 id="publications"> 2020 </h2>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find the complete list of publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



